@import "bootstrap/scss/bootstrap";

:root {
  --text-dark: #343a40;
  --bg-header: #fcc419;
  --accent: #fd7e14;
  --color-logo: #896127;
  --bg-footer:#322a2c;
}

body {
  color: var(--text-dark);
  background-color: rgba(195, 195, 195, 0.16);
  font-family:  "Rubik", sans-serif;

}
::-webkit-scrollbar {
  width: 3px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgba(195, 195, 195, 0.16); 
  border-radius: 20px;
}
::-webkit-scrollbar-thumb {
  background: var(--accent); 
  border-radius: 20px;

}
